In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
train=pd.read_csv('/content/sample_data/UNSW_NB15_training-set.csv')
train2=pd.read_csv('/content/sample_data/UNSW_NB15_training-set.csv')
test=pd.read_csv('/content/sample_data/UNSW_NB15_testing-set.csv (1).zip')

In [3]:
print(f"Train data length: {len(train)}")
print(f"Test data length: {len(test)}")

Train data length: 82332
Test data length: 175341

In [4]:
train.head()

   id       dur proto service  ... ct_srv_dst  is_sm_ips_ports  attack_cat  label
0   1  0.000011   udp       -  ...          2                0      Normal      0
1   2  0.000008   udp       -  ...          2                0      Normal      0
2   3  0.000005   udp       -  ...          3                0      Normal      0
3   4  0.000006   udp       -  ...          3                0      Normal      0
4   5  0.000010   udp       -  ...          3                0      Normal      0

[5 rows x 45 columns]

In [5]:
train.shape,test.shape

((82332, 45), (175341, 45))

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82332 entries, 0 to 82331
Data columns (total 45 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 82332 non-null  int64
 1   dur                82332 non-null  float64
 2   proto              82332 non-null  object
 3   service            82332 non-null  object
 4   state              82332 non-null  object
 5   spkts              82332 non-null  int64
 6   dpkts              82332 non-null  int64
 7   sbytes             82332 non-null  int64
 8   dbytes             82332 non-null  int64
 9   rate               82332 non-null  float64
 10  sttl               82332 non-null  int64
 11  dttl               82332 non-null  int64
 12  sload              82332 non-null  float64
 13  dload              82332 non-null  float64
 14  sloss              82332 non-null  int64
 15  dloss              82332 non-null  int64
 16  sinpkt             82332 non-null  float64
 17  dinpkt             82332 non-null  float64
 18  sjit               82332 non-null  float64
 19  djit               82332 non-null  float64
 20  swin               82332 non-null  int64
 21  stcpb              82332 non-null  int64
 22  dtcpb              82332 non-null  int64
 23  dwin               82332 non-null  int64
 24  tcprtt             82332 non-null  float64
 25  synack             82332 non-null  float64
 26  ackdat             82332 non-null  float64
 27  smean              82332 non-null  int64
 28  dmean              82332 non-null  int64
 29  trans_depth        82332 non-null  int64
 30  response_body_len  82332 non-null  int64
 31  ct_srv_src         82332 non-null  int64
 32  ct_state_ttl       82332 non-null  int64
 33  ct_dst_ltm         82332 non-null  int64
 34  ct_src_dport_ltm   82332 non-null  int64
 35  ct_dst_sport_ltm   82332 non-null  int64
 36  ct_dst_src_ltm     82332 non-null  int64
 37  is_ftp_login       82332 non-null  int64
 38  ct_ftp_cmd         82332 non-null  int64
 39  ct_flw_http_mthd   82332 non-null  int64
 40  ct_src_ltm         82332 non-null  int64
 41  ct_srv_dst         82332 non-null  int64
 42  is_sm_ips_ports    82332 non-null  int64
 43  attack_cat         82332 non-null  object
 44  label              82332 non-null  int64
dtypes: float64(11), int64(30), object(4)
memory usage: 28.3+ MB

In [7]:
train.isnull().sum()

id                   0
dur                  0
proto                0
service              0
state                0
spkts                0
dpkts                0
sbytes               0
dbytes               0
rate                 0
sttl                 0
dttl                 0
sload                0
dload                0
sloss                0
dloss                0
sinpkt               0
dinpkt               0
sjit                 0
djit                 0
swin                 0
stcpb                0
dtcpb                0
dwin                 0
tcprtt               0
synack               0
ackdat               0
smean                0
dmean                0
trans_depth          0
response_body_len    0
ct_srv_src           0
ct_state_ttl         0
ct_dst_ltm           0
ct_src_dport_ltm     0
ct_dst_sport_ltm     0
ct_dst_src_ltm       0
is_ftp_login         0
ct_ftp_cmd           0
ct_flw_http_mthd     0
ct_src_ltm           0
ct_srv_dst           0
is_sm_ips_ports      0
attack_cat           0
label                0
dtype: int64

In [8]:
train['attack_cat'].value_counts()

Normal            37000
Generic           18871
Exploits          11132
Fuzzers            6062
DoS                4089
Reconnaissance     3496
Analysis            677
Backdoor            583
Shellcode           378
Worms                44
Name: attack_cat, dtype: int64

In [9]:
index =train[train['attack_cat'] == 'Shellcode' ].index  
train.drop(index, inplace=True)
index =train[train['attack_cat'] == 'Worms' ].index   
train.drop(index, inplace=True)
index =train[train['attack_cat'] == 'Backdoor' ].index
train.drop(index, inplace=True)
index =train[train['attack_cat'] == 'DoS' ].index   
train.drop(index, inplace=True)

In [10]:
train['attack_cat'].unique()

array(['Normal', 'Reconnaissance', 'Exploits', 'Analysis', 'Fuzzers',
       'Generic'], dtype=object)

In [11]:
from  sklearn.preprocessing import LabelEncoder

In [12]:
df_num=train.select_dtypes(["int64","float64"]) 
df_cat=train.select_dtypes(object)

In [13]:
for col in df_cat:
    le=LabelEncoder()
    df_cat[col]=le.fit_transform(df_cat[col])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [14]:
df_cat.head(20)

    proto  service  state  attack_cat
0     117        0      4           4
1     117        0      4           4
2     117        0      4           4
3     117        0      4           4
4     117        0      4           4
5     117        0      4           4
6     117        0      4           4
7     117        0      4           4
8       6        0      4           4
9       6        0      4           4
10      6        0      4           4
11      6        0      4           4
12    117        0      4           4
13    117        0      4           4
14    117        0      4           4
15    117        0      4           4
16    117        0      4           4
17    117        0      4           4
18    117        0      4           4
19    117        0      4           4

In [15]:
df_new=pd.concat([df_num,df_cat],axis=1)
df_new.head()

   id       dur  spkts  dpkts  sbytes  ...  label  proto  service  state  attack_cat
0   1  0.000011      2      0     496  ...      0    117        0      4           4
1   2  0.000008      2      0    1762  ...      0    117        0      4           4
2   3  0.000005      2      0    1068  ...      0    117        0      4           4
3   4  0.000006      2      0     900  ...      0    117        0      4           4
4   5  0.000010      2      0    2126  ...      0    117        0      4           4

[5 rows x 45 columns]

In [17]:
print(train.columns.values)
print(test.columns.values)

['id' 'dur' 'proto' 'service' 'state' 'spkts' 'dpkts' 'sbytes' 'dbytes'
 'rate' 'sttl' 'dttl' 'sload' 'dload' 'sloss' 'dloss' 'sinpkt' 'dinpkt'
 'sjit' 'djit' 'swin' 'stcpb' 'dtcpb' 'dwin' 'tcprtt' 'synack' 'ackdat'
 'smean' 'dmean' 'trans_depth' 'response_body_len' 'ct_srv_src'
 'ct_state_ttl' 'ct_dst_ltm' 'ct_src_dport_ltm' 'ct_dst_sport_ltm'
 'ct_dst_src_ltm' 'is_ftp_login' 'ct_ftp_cmd' 'ct_flw_http_mthd'
 'ct_src_ltm' 'ct_srv_dst' 'is_sm_ips_ports' 'attack_cat' 'label']
['id' 'dur' 'proto' 'service' 'state' 'spkts' 'dpkts' 'sbytes' 'dbytes'
 'rate' 'sttl' 'dttl' 'sload' 'dload' 'sloss' 'dloss' 'sinpkt' 'dinpkt'
 'sjit' 'djit' 'swin' 'stcpb' 'dtcpb' 'dwin' 'tcprtt' 'synack' 'ackdat'
 'smean' 'dmean' 'trans_depth' 'response_body_len' 'ct_srv_src'
 'ct_state_ttl' 'ct_dst_ltm' 'ct_src_dport_ltm' 'ct_dst_sport_ltm'
 'ct_dst_src_ltm' 'is_ftp_login' 'ct_ftp_cmd' 'ct_flw_http_mthd'
 'ct_src_ltm' 'ct_srv_dst' 'is_sm_ips_ports' 'attack_cat' 'label']

In [18]:
df = pd.concat([train, test], ignore_index=True)

In [19]:
df.drop(['id'], inplace=True, axis=1)

In [20]:
df.drop(["proto", "state", "service"], inplace=True, axis=1)

In [21]:
train_data = df.iloc[0:175341, 0:]
test_data = df.iloc[175341:, 0:]

In [22]:
y_train = np.array(train_data["attack_cat"])
train_data.drop(["attack_cat"], inplace=True, axis=1)

y_test = np.array(test_data["attack_cat"])
test_data.drop(["attack_cat"], inplace=True, axis=1)

In [23]:
from sklearn.preprocessing import LabelEncoder, StandardScaler, MinMaxScaler

In [24]:
scaler = MinMaxScaler()
X_train = scaler.fit_transform(train_data)
X_test = scaler.transform(test_data)

In [25]:

print(f"Train data shape: {X_train.shape} Train label shape: {y_train.shape}")
print(f"Test data shape: {X_test.shape} Test label shape: {y_test.shape}")

Train data shape: (175341, 40) Train label shape: (175341,)
Test data shape: (77238, 40) Test label shape: (77238,)

# Logistic Regression On Train Dataset

In [26]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [27]:
log = LogisticRegression(solver = "liblinear")
y_pred_log_fit = log.fit(X_train, y_train)
y_pred_log = y_pred_log_fit.predict(X_test)
log_accuracy = accuracy_score(y_test, y_pred_log)

In [28]:
log_accuracy

0.7985059167767161

In [29]:
print(classification_report(y_test, y_pred_log))

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

                precision    recall  f1-score   support

      Analysis       1.00      0.00      0.00       740
      Backdoor       0.00      0.00      0.00       735
           DoS       0.21      0.00      0.00      5432
      Exploits       0.54      0.81      0.65     13951
       Fuzzers       0.63      0.71      0.66      7471
       Generic       0.99      0.97      0.98     40000
        Normal       1.00      1.00      1.00      3824
Reconnaissance       0.55      0.56      0.55      4532
     Shellcode       0.00      0.00      0.00       494
         Worms       0.00      0.00      0.00        59

      accuracy                           0.80     77238
     macro avg       0.49      0.40      0.38     77238
  weighted avg       0.77      0.80      0.77     77238

In [30]:
train2.head()

   id       dur proto service  ... ct_srv_dst  is_sm_ips_ports  attack_cat  label
0   1  0.000011   udp       -  ...          2                0      Normal      0
1   2  0.000008   udp       -  ...          2                0      Normal      0
2   3  0.000005   udp       -  ...          3                0      Normal      0
3   4  0.000006   udp       -  ...          3                0      Normal      0
4   5  0.000010   udp       -  ...          3                0      Normal      0

[5 rows x 45 columns]

In [31]:
index =train2[train2['attack_cat'] == 'Normal'].index   
train2.drop(index, inplace=True)
index =train2[train2['attack_cat'] == 'Generic' ].index   
train2.drop(index, inplace=True)
index =train2[train2['attack_cat'] == 'Exploits' ].index   
train2.drop(index, inplace=True)
index =train2[train2['attack_cat'] == 'Fuzzers' ].index  
train2.drop(index, inplace=True)
index =train2[train2['attack_cat'] == 'Reconnaissance' ].index   # delete specific values from rors
train2.drop(index, inplace=True)
index =train2[train2['attack_cat'] == 'Analysis' ].index   # delete specific values from rors
train2.drop(index, inplace=True)

In [32]:
train2['attack_cat'].unique()

array(['Backdoor', 'DoS', 'Worms', 'Shellcode'], dtype=object)

In [33]:
df_num=train2.select_dtypes(["int64","float64"]) 
df_cat=train2.select_dtypes(object)

In [34]:
for col in df_cat:
    le=LabelEncoder()
    df_cat[col]=le.fit_transform(df_cat[col])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [35]:
df_new=pd.concat([df_num,df_cat],axis=1)

In [36]:
df_new.head()

      id       dur  spkts  dpkts  ...  proto  service  state  attack_cat
245  246  0.921987     20      0  ...     75        0      2           0
246  247  0.921987     20      0  ...     75        0      2           1
287  288  1.173262     16     12  ...    109        0      1           1
336  337  1.438237     10     10  ...    109        5      1           1
338  339  1.465404     10     10  ...    109        5      1           1

[5 rows x 45 columns]

In [37]:
print(train2.columns.values)
print(test.columns.values)

['id' 'dur' 'proto' 'service' 'state' 'spkts' 'dpkts' 'sbytes' 'dbytes'
 'rate' 'sttl' 'dttl' 'sload' 'dload' 'sloss' 'dloss' 'sinpkt' 'dinpkt'
 'sjit' 'djit' 'swin' 'stcpb' 'dtcpb' 'dwin' 'tcprtt' 'synack' 'ackdat'
 'smean' 'dmean' 'trans_depth' 'response_body_len' 'ct_srv_src'
 'ct_state_ttl' 'ct_dst_ltm' 'ct_src_dport_ltm' 'ct_dst_sport_ltm'
 'ct_dst_src_ltm' 'is_ftp_login' 'ct_ftp_cmd' 'ct_flw_http_mthd'
 'ct_src_ltm' 'ct_srv_dst' 'is_sm_ips_ports' 'attack_cat' 'label']
['id' 'dur' 'proto' 'service' 'state' 'spkts' 'dpkts' 'sbytes' 'dbytes'
 'rate' 'sttl' 'dttl' 'sload' 'dload' 'sloss' 'dloss' 'sinpkt' 'dinpkt'
 'sjit' 'djit' 'swin' 'stcpb' 'dtcpb' 'dwin' 'tcprtt' 'synack' 'ackdat'
 'smean' 'dmean' 'trans_depth' 'response_body_len' 'ct_srv_src'
 'ct_state_ttl' 'ct_dst_ltm' 'ct_src_dport_ltm' 'ct_dst_sport_ltm'
 'ct_dst_src_ltm' 'is_ftp_login' 'ct_ftp_cmd' 'ct_flw_http_mthd'
 'ct_src_ltm' 'ct_srv_dst' 'is_sm_ips_ports' 'attack_cat' 'label']

In [38]:
df = pd.concat([train2, test], ignore_index=True)
df.drop(['id'], inplace=True, axis=1)
df.drop(["proto", "state", "service"], inplace=True, axis=1)

In [39]:
train2_data = df.iloc[0:175341, 0:]
test_data = df.iloc[175341:, 0:]

In [40]:
y_train = np.array(train2_data["attack_cat"])
train2_data.drop(["attack_cat"], inplace=True, axis=1)

y_test = np.array(test_data["attack_cat"])
test_data.drop(["attack_cat"], inplace=True, axis=1)

In [41]:
from sklearn.preprocessing import LabelEncoder, StandardScaler, MinMaxScaler

In [42]:
scaler = MinMaxScaler()
X_train2 = scaler.fit_transform(train2_data)
X_test = scaler.transform(test_data)

In [43]:
print(f"Train data shape: {X_train2.shape} Train label shape: {y_train.shape}")
print(f"Test data shape: {X_test.shape} Test label shape: {y_test.shape}")

Train data shape: (175341, 40) Train label shape: (175341,)
Test data shape: (5094, 40) Test label shape: (5094,)

## Logistic Regression on Train2 Dataset

In [44]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [45]:
log = LogisticRegression(solver = "liblinear")
y_pred_log_fit = log.fit(X_train2, y_train)
y_pred_log = y_pred_log_fit.predict(X_test)
log_accuracy = accuracy_score(y_test, y_pred_log)

In [46]:
log_accuracy

0.8884962701217118

In [47]:
print(classification_report(y_test, y_pred_log))

                precision    recall  f1-score   support

      Analysis       0.00      0.00      0.00        26
      Backdoor       0.00      0.00      0.00        22
           DoS       0.34      0.30      0.32       141
      Exploits       0.48      0.74      0.58       388
       Fuzzers       0.59      0.60      0.60       275
       Generic       1.00      0.98      0.99      4078
Reconnaissance       0.55      0.35      0.43       150
     Shellcode       0.00      0.00      0.00        14

      accuracy                           0.89      5094
     macro avg       0.37      0.37      0.36      5094
  weighted avg       0.89      0.89      0.89      5094

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

A macro-average will compute the metric independently for each class and then take the average (hence treating all classes equally), whereas a micro-average will aggregate the contributions of all classes to compute the average metric. In a multi-class classification setup, micro-average is preferable if you suspect there might be class imbalance

# Attack discription

Normal            
Generic           

Exploits - An exploit is a piece of software, a chunk of data, or a sequence of commands that takes advantage of a bug or vulnerability to cause unintended or unanticipated behavior to occur on computer software, hardware, or something electronic.        

Fuzzers - In the world of cybersecurity, fuzzing is the usually automated process of finding hackable software bugs by randomly feeding different permutations of data into a target program until one of those permutations reveals a vulnerability.         

DoS - In computing, a denial-of-service attack (DoS attack) is a cyber-attack in which the perpetrator seeks to make a machine or network resource unavailable to its intended users by temporarily or indefinitely disrupting services of a host connected to the Internet.             

Reconnaissance - Reconnaissance attacks are general knowledge gathering attacks. These attacks can happen in both logical and physical approaches. Whether the information is gathered via probing the network or through social engineering and physical surveillance, these attacks can be preventable as well.     

Analysis - Traditional information security attack analysis focuses on computer intrusions and malware events in which an attacker gains access or causes damage to a system (or network) through the use of technical capabilities to exploit a vulnerability.             

Backdoor - A backdoor attack is a type of malware that gives cybercriminals unauthorized access to a website. Cybercriminals install the malware through unsecured points of entry, such as outdated plug-ins or input fields.        

Shellcode - In hacking, a shellcode is a small piece of code used as the payload in the exploitation of a software vulnerability           

Worms - A computer worm is a standalone malware computer program that replicates itself in order to spread to other computers.[1] It often uses a computer network to spread itself, relying on security failures on the target computer to access it. It will use this machine as a host to scan and infect other computers.